@media screen and (min-width: 850px) {
#Consultants_content {
    display: flex;
    width: 100%;
    flex-direction: row;
}
#Consultants_content #Result {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    width: 49.8%; 
}
#Consultants_form_content {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 7rem;
    flex-direction: column;
    width: 50%;
}
/* ---- MAP RESULT ------------------------------------*/
#Result_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    box-shadow: gray 1px 1px 3px 1px;
    margin: 0.5rem 0;
}
#Result_row:hover { cursor: pointer; }
#Result_row p {
margin: 0.5rem 1rem;
font-size: 18px;
}
#Result_row #delete {
    display: flex;
    justify-content: end;
    width: 4rem;
    margin: auto 1rem;
}
#Result_row #delete:hover { cursor: pointer;}
#Result_row #delete #icon_Ben {
    width: 1.7rem;
    height: 1.7rem;
}
/* ---- FORMULARY ------------------------------------*/
#Consultants_form_content #form_header {
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: center;
}
#Consultants_form_content #form_header p { 
    margin: auto;
    font-size: 20px;
}
#formulary {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
#formulary input{
    margin: 0 auto;
    height: 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: inset gray 1px 1px 3px 1px;
    padding-left: 0.5rem;
    width: 90%;
}
#formulary label{
    margin-top: 2rem;
    margin-left: 2rem ;
    font-size: 18px; }

#formulary #form-btn{
    margin: auto;
    margin-top: 2rem;
    padding: 1rem 4rem;
    font-size: 22px;
    border-radius: 4px;
 }
#Consultants_form_content #messageError, #Consultants_form_content #messageValid { 
    margin: auto;
    border: 2px solid;
    border-radius: 4px;
    padding: 1rem 3rem;
}
/*----- CONFIRMATION ------*/
#confirmation {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,70%);
    z-index: 4; }

#confirmation #confirmation_content {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px ;
    width: 40%;
    z-index: 5; }

#confirmation_content #title { 
    display: flex;
    width: 100%;
    height: 3.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center; }
#confirmation_content #title { 
    display: flex;
    width: 100%;
    height: 3.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center; }

#confirmation_content #title h1 { 
    margin-top: 0.5rem; } 

#confirmation_content p { 
    margin: 2rem auto;
    font-size: 24px; }

#confirmation_content_btns {
    display: flex;
    width: 100%;
    justify-content: center; } 

#confirmation_content_btns button { 
    width: 30%;
    height: 3rem;
    margin: 1rem;
    font-size: 24px;
    border: none;
    border-radius: 2px; }

#confirmation_content_btns button:hover { 
    cursor: pointer;
    box-shadow: inset gray 1px 1px 3px 2px; }
}