
@media screen and (min-width: 850px) {
/*----- ADVERTISEMENTS DETAILS -------------------------*/
/*----- GENERAL ------*/
.users_details {
    display: flex;
    position: fixed;
    top: 4rem;
    right: 0;
    width: 49%;
    height: 100%;
    z-index: 1; }
    
.users_details {
    display: flex;
    position: fixed;
    top: 8rem;
    right: 0;
    width: 49%;
    height: 100%;
    bottom: 0;
    overflow: scroll;
    z-index: 1; }

.users_details_small {
    display: flex;
    position: fixed;
    top: 8rem;
    right: 0;
    width: 49%;
    height: 100%;
    bottom: 0;
    overflow: scroll;
    z-index: 1;
}

#Users_details_content {
    display: flex;
    position: fixed;
    right: 0;
    width: 49%;
    bottom: 0;
    top: 7rem;
    flex-direction: column;
    overflow: scroll;
}
/*----- HEADER ------*/
.Users_details_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 7rem;
    width: 50%;
    height: 4rem;
    z-index: 1;  }

.Users_details_header_down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 7rem;
    width: 50%;
    height: 4rem;
    z-index: 1; }

.Users_details_header p, .Users_details_header_down p {
    font-size: 24px;
    margin:  1rem auto;
}

.Users_details_header button {
    margin: 0;
    width: 8rem;
    height: 100%;
    border: none;
    border-radius: 1px;
    font-size: 20px; }

.Users_details_header button:hover { 
    cursor: pointer;
    box-shadow: inset gray 1px 1px 3px 1px;
}
/*----- INFO ------*/
.Users_details_info {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50%;
    top: 11rem;
    bottom: 0rem;
    right: 0;
    margin: auto;
    overflow: scroll; }

.Users_details_info_down {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50%;
    top: 11rem;
    bottom: 0rem;
    right: 0;
    margin: auto;
    overflow: scroll; }

#Users_details_info_up {
    display: flex;
    flex-direction: row; }

#Users_details_center {
        display: flex;
        width: 100%;
        justify-content: center;
    }
#Users_details {
    border-radius: 2px;
    margin: auto;
    width: 92.5%;
    padding: 2rem;
    margin: 0.25rem auto;
}
#Users_details p {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

#Users_details_left, #Users_details_right {
    border-radius: 2px;
    width: 49%;
    height: 25rem;
    margin: 0.25rem auto;
}
#Users_details_left p, #Users_details_right p { 
    font-size: 20px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
}
#Users_details_left h3, #Users_details_right h3 { 
    margin-left: 10%;
}

#Users_details_details {
    margin: 0.25rem auto;
    width: 99%;
    height: 15rem;
    border-radius: 4px;
    overflow: scroll;
}
.candidaty_close {
    display: flex;
    position: fixed;
    background-color: inherit;
    top: 7rem;
    left: 50%;
    width: 4rem;
    padding: 1rem;
    z-index: 3;
    border: none;
}
.candidaty_close_down {
    display: flex;
    position: fixed;
    background-color: inherit;
    top: 7rem;
    left: 50%;
    width: 4rem;
    padding: 1rem;
    z-index: 3;
    border: none;
}
.candidaty_close:hover, .candidaty_close_down:hover {
cursor: pointer;
}
#candidaty_pdf_btn {
    position: absolute;
    right: 0;
    width: 6rem;
    height: 4rem;
    border: none;
}
#candidaty_pdf_btn:hover { cursor: pointer;}

#candidaty_pdf_btn #icon_Pdf {
    width: 2rem;
    height: 2rem;
}
#candidaty_pdf {
    display: flex;
    width: 100%;
    height: 100%;
}
/*----- EMPTY ------*/
.Users_details_Empty {
    display: flex;
    position: fixed;
    top: 0rem;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 0;
}
.Users_details_Empty_small {
    display: flex;
    position: fixed;
    top: 0rem;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 0;
}
/*----- GENERAL ------*/
.Users_map_content {
    width: 50%;
    height: 100%;
    margin-top: 8rem; }

.Users_map_content_down {
    width: 50%;
    height: 100%;
    margin-top: 7rem; }

/*----- MAP -----------*/
#stateNav_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 5rem;
    margin-top: 3rem ;
    position: fixed;
    top: 4rem;
    z-index: 3;


}
#stateNav_btn button { 
    margin: auto;
    width: 20%;
    min-width: 10rem;
    height: 3rem;
    font-size: 18px;
    border: none;
    border-radius: 2px;
}
#stateNav_btn button:hover { 
    cursor: pointer;
    box-shadow: inset gray 1px 1px 3px 1px; 
}

.users_rows, .users_rows_select {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
    margin-right: 1px;
    box-shadow: black 1px 1px 3px 1px;
    width: 99.9%;
    height: 8rem; }

.users_rows:hover, .users_rows_select:hover { 
    cursor: pointer; }

.users_rows #candidaty_row_title p, .users_rows_select #candidaty_row_title p,
.users_rows #user_row_title p, .users_rows_select #user_row_title p{
    font-size: 20px;
    margin: auto 1rem; }

.users_rows #row_detail, .users_rows_select #row_detail  {
    display: flex;
    flex-direction: row; }

.users_rows #row_detail p, .users_rows_select #row_detail p {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: auto 0.5rem; }

.users_rows #row_date p, .users_rows_select #row_date p {
    font-size: 14px;
    margin: auto 1rem; }


#users_btns {
    display: flex;
    flex-direction: row; }

#users_btns button{
    margin: auto 1rem;
    background-color: transparent;
    width: 3rem;
    height: 100%;
    border: none; }

#users_btns button:hover { 
    cursor: pointer; }
}